<section class="hero">
  <div class="hero-bg" data-mode="cursor" style="opacity: 0.9;transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
    <img src="/assets/images/overview.jpg" data-depth="0.50" alt="" class="layer" style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(568.7079px, 245.46295px, 0px); transform-style: preserve-3d; backface-visibility: hidden;"></div>
  <div class="--wrap-inner">
    <div class="--welcome layer">
      <span class="meta">Welcome to the</span>
      <h1>Learning Board</h1>
      <p>
        assimilate . ameliorate . advance
      </p>
    </div>
  </div>
</section>

<section class="--documentation-categories">
  <div class="--wrap category-buttons">
    <ul>
      <li class="bs-green">
        <a href="/tutorials/">

          <div class="category-wrap">
            <div class="category-img"><img src="/assets/images/tableau.png" alt="Tableau logo">
            </div>
            <div class="category-meta">
              <h2>Tableau</h2>
              <p>Anyone making charts or dashboards.</p>
            </div>
          </div>
        </a>

      </li>
      <li class="bs-orange">
        <a href="https://plot.ly/api/">
          <div class="category-wrap">
            <div class="category-img"><img src="https://s3-us-west-1.amazonaws.com/plotly-tutorials/background-images/python-logo.png" alt="">
            </div>
            <div class="category-meta">
              <h2>Python</h2>
              <p>Engineers and data scientists using Python, R, Matlab or Javascript.</p>
            </div>
          </div>
        </a>
      </li>

      <li class="bs-primary">
        <a href="/excel/">
          <div class="category-wrap">
            <div class="category-img">
              <img src="https://www.mysql.com/common/logos/logo-mysql-170x115.png" alt="">
            </div>
            <div class="category-meta">
              <h2>SQL</h2>
              <p>
                Connect your data to the best data-visualiztion tool
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bs-red">
        <a href="//plot.ly/dashboards/">
          <div class="category-wrap">
            <div class="category-img"><img src="http://i.imgur.com/jCMx2iC.png" alt=""></div>
            <div class="category-meta">
              <h2>Visualization</h2>
              <p>
                Create static or live-updating visualizations
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bs-primary">
        <a href="/database-connectors/">
          <div class="category-wrap">
            <div class="category-img"> <img src="https://s3-us-west-1.amazonaws.com/plotly-tutorials/background-images/excel-logo.png" alt=""></div>
            <div class="category-meta">
              <h2>Excel</h2>
              <p>
                Upload Excel sheets to build best-practice charts, reports and
                dashboards.
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="bs-green">
        <a href="https://community.plot.ly/">
          <div class="category-wrap">
            <div class="category-img">
              <!--<img src="http://i.imgur.com/jCMx2iC.png" alt="">-->
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#000000" d="M17,12V3A1,1 0 0,0 16,2H3A1,1 0 0,0 2,3V17L6,13H16A1,1 0 0,0 17,12M21,6H19V15H6V17A1,1 0 0,0 7,18H18L22,22V7A1,1 0 0,0 21,6Z"></path>
              </svg>
            </div>
            <div class="category-meta">
              <h2>Community</h2>
              <p>
                Ask questions, get help, and discuss data viz ideas
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
