<section class="--documentation-categories">
    <div class="--wrap category-buttons">
        <div class ="row"></div>
        <ul style="padding-top:80px;padding-bottom:150px">
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/SQL/1">
                        <div class="category-img"><img src="../../assets/images/beginner.png" alt="Beginner logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Beginner</h2>
                        <p>------</p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/SQL/2">
                         <div class="category-img"><img src="../../assets/images/intermediate-1.png" alt="Intermediate logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Intermediate</h2>
                        <p>------</p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/SQL/3">
                         <div class="category-img"><img src="../../assets/images/expert.png" alt="Advanced logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Advanced</h2>
                        <p> ------ </p>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</section>