<section class="--documentation-categories">
    <div class="--wrap category-buttons">
        <div class="row"></div>
       <div class="content" *ngIf="level == 'SQL'">
        <ul style="padding-top:80px;padding-bottom:150px">
            
            <li class="bs-primary">
                <div class="category-wrap"> 
                    <a href="#tech/SQL/1" (click)="Leveldate(level,flag=1,1)">
                      
                        <div class="category-img"><img src="../../assets/images/beginner.png" alt="Beginner logo"> </div>
                    </a>
                    <div class="category-meta" style="text-align:left">
                        <h2>Beginner</h2>
                        <p>
                            <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have no introduction to SQL.
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to learn basics of SQL.
                        </p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/SQL/2" (click)="Leveldate(level,flag=1,2)">
                        <div class="category-img"><img src="../../assets/images/intermediate-1.png" alt="Intermediate logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Intermediate</h2>   
                        <p><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You understand the basic RDBMS concepts & querying in SQL
                            <br> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You wish to learn intense querying concepts & optimisations </p>
                    </div>
                </div>
            </li>
            <li class="bs-orange">
                <div class="category-wrap">
                    <a href="#tech/SQL/3"  (click)="Leveldate(level,flag=1,3)">
                        <div class="category-img"><img src="../../assets/images/expert.png" alt="Advanced logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Advanced</h2>
                        <p> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have mastered the art of optimised querying
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to understand the advanced concepts and become an expert </p>
                    </div>
                </div>
            </li>
                
        </ul>
    </div> 
    </div>

</section>

<section class="--documentation-categories">
    <div class="--wrap category-buttons">
        <div class="row"></div>
       <div class="content" *ngIf="level == 'Python'">
        <ul style="padding-top:80px;padding-bottom:150px">
            
            <li class="bs-primary">
                <div class="category-wrap"> 
                    <a href="#tech/Python/1" (click)="Leveldate(level,flag=1,1)">
                        <div class="category-img"><img src="../../assets/images/beginner.png" alt="Beginner logo"> </div>
                    </a>
                    <div class="category-meta" style="text-align:left">
                        <h2>Beginner</h2>
                        <p>
                            <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have no introduction to Python.
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to learn basics of Python.
                        </p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Python/2"  (click)="Leveldate(level,flag=1,2)">
                        <div class="category-img"><img src="../../assets/images/intermediate-1.png" alt="Intermediate logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Intermediate</h2>
                        <p><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You understand the basic RDBMS concepts & querying in Python
                            <br> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You wish to learn intense querying concepts & optimisations Python</p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Python/3"  (click)="Leveldate(level,flag=1,3)">
                        <div class="category-img"><img src="../../assets/images/expert.png" alt="Advanced logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Advanced</h2>
                        <p> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have mastered the art of optimised querying
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to understand the advanced concepts and become an expert </p>
                    </div>
                </div>
            </li>
              
        </ul>
     </div>  
    </div>

</section>



<section class="--documentation-categories">
    <div class="--wrap category-buttons">
        <div class="row"></div>
       <div class="content" *ngIf="level == 'Tableau'">
        <ul style="padding-top:80px;padding-bottom:150px">
            
            <li class="bs-primary">
                <div class="category-wrap"> 
                    <a href="#tech/Tableau/1" (click)="Leveldate(level,flag=1,1)">
                        <div class="category-img"><img src="../../assets/images/beginner.png" alt="Beginner logo"> </div>
                    </a>
                    <div class="category-meta" style="text-align:left">
                        <h2>Beginner</h2>
                        <p>
                            <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have no introduction to Tableau.
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to learn basics of Tableau.
                        </p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Tableau/2" (click)="Leveldate(level,flag=1,2)">
                        <div class="category-img"><img src="../../assets/images/intermediate-1.png" alt="Intermediate logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Intermediate</h2>
                        <p><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You understand the basic RDBMS concepts & querying in Tableau
                            <br> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You wish to learn intense querying concepts & optimisations Tableau</p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Tableau/3" (click)="Leveldate(level,flag=1,3)">
                        <div class="category-img"><img src="../../assets/images/expert.png" alt="Advanced logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Advanced</h2>
                        <p> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have mastered the art of optimised querying Tableau
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to understand the advanced concepts and become an expert Tableau </p>
                    </div>
                </div>
            </li>
              
        </ul>
     </div>  
    </div>

</section>



<section class="--documentation-categories">
    <div class="--wrap category-buttons">
        <div class="row"></div>
       <div class="content" *ngIf="level == 'Visualization'">
        <ul style="padding-top:80px;padding-bottom:150px">
            
            <li class="bs-primary">
                <div class="category-wrap"> 
                    <a href="#tech/Visualization/1" (click)="Leveldate(level,flag=1,1)">
                        <div class="category-img"><img src="../../assets/images/beginner.png" alt="Beginner logo"> </div>
                    </a>
                    <div class="category-meta" style="text-align:left">
                        <h2>Beginner</h2>
                        <p>
                            <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have no introduction to Visualization.
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to learn basics of Visualization.
                        </p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Visualization/2" (click)="Leveldate(level,flag=1,2)">
                        <div class="category-img"><img src="../../assets/images/intermediate-1.png" alt="Intermediate logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Intermediate</h2>
                        <p><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You understand the basic RDBMS concepts & querying in Visualization
                            <br> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You wish to learn intense querying concepts & optimisations Visualization</p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Visualization/3" (click)="Leveldate(level,flag=1,3)">
                        <div class="category-img"><img src="../../assets/images/expert.png" alt="Advanced logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Advanced</h2>
                        <p> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have mastered the art of optimised querying Tableau
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to understand the advanced concepts and become an expert Visualization </p>
                    </div>
                </div>
            </li>
              
        </ul>
     </div>  
    </div>

</section>


<section class="--documentation-categories">
    <div class="--wrap category-buttons">
        <div class="row"></div>
       <div class="content" *ngIf="level == 'Excel'">
        <ul style="padding-top:80px;padding-bottom:150px">
            
            <li class="bs-primary">
                <div class="category-wrap"> 
                    <a href="#tech/Excel/1" (click)="Leveldate(level,flag=1,1)">
                        <div class="category-img"><img src="../../assets/images/beginner.png" alt="Beginner logo"> </div>
                    </a>
                    <div class="category-meta" style="text-align:left">
                        <h2>Beginner</h2>
                        <p>
                            <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have no introduction to Excel.
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to learn basics of Excel.
                        </p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Excel/2" (click)="Leveldate(level,flag=1,2)">
                        <div class="category-img"><img src="../../assets/images/intermediate-1.png" alt="Intermediate logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Intermediate</h2>
                        <p><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You understand the basic RDBMS concepts & querying in Excel
                            <br> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You wish to learn intense querying concepts & optimisations Excel</p>
                    </div>
                </div>
            </li>
            <li class="bs-primary">
                <div class="category-wrap">
                    <a href="#tech/Excel/3" (click)="Leveldate(level,flag=1,3)">
                        <div class="category-img"><img src="../../assets/images/expert.png" alt="Advanced logo"> </div>
                    </a>
                    <div class="category-meta">
                        <h2>Advanced</h2>
                        <p> <i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp;You have mastered the art of optimised querying Tableau
                            <br><i class="fa fa-circle" style ="font-size:8px" aria-hidden="true"></i> &nbsp; &nbsp; You wish to understand the advanced concepts and become an expert Excel </p>
                    </div>
                </div>
            </li>
              
        </ul>
     </div>  
    </div>

</section>